@import url(common.css);

body {
    font-family: 'NanumSquare', 'Nanum Gothic', sans-serif;
    font-size: 14px;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.wrapper .summary {
    width: 100%;
    height: 280px;
    background: teal;
    position: relative;
    background-attachment: fixed;
}
.wrapper .summary h3 {
    color: #fff;
    font-size: 40px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.wrapper .summary .gnb {
    display: flex;

    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    
    font-size: 30px;
}

.wrapper .summary .gnb .list {
    border: 2px solid #fff;

}