@import url(./common.css);


/*section business style*/


section {
  background: black;
  height: 100vh;
}


.content {
  background: red;
  width: 95%;
  height: 90vh;
}

.content .intro {
  /* background: orange; */
  padding-top: 150px;
  margin: 0 auto 50px;
  text-align: center;
}

.content .intro h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

.content .intro p {
  font-size: 14px;
}

.content ul {
  background: violet;
  display: flex;
  justify-content: space-evenly;
}

.content ul li {
  background: orange;
}























